@use "../../foundation/variable" as *;
.p-about {

    background: $color-main-200;
    position: relative;
    padding-top: calc(78px + $header-height);

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $color-main-100;
        z-index: 2;
    }
    .c-inner {
        z-index: 3;
        position: relative;

    }
    &__information {
        @include text-jp($text--12, 500);
        &-item {
            &>*:first-child {
                width: 6em;
            }
            &>*:last-child {
                &::before {
                    content: ":";
                }

            }
            &:last-of-type {
                margin-bottom: 42px;
            }
        }
    }
    @include breakpoint(sp) {
        min-height: 100vh;
        .c-inner {
            margin-top: -148px;
        }
        .c-section__description {
            margin-bottom: 40px;
        }
        .display-contents {
            display: block;
            position: relative;
        }
        &__image {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .display-contents {
            display: block;
            position: relative;
        }
        &__information {
            width: 100%;
        }
    }
    @include breakpoint(tablet) {
        min-height: 100vh;
        .c-inner {
            margin-top: -148px;
        }
        .c-section__description {
            margin-bottom: 40px;
        }
        .display-contents {
            display: block;
            position: relative;
        }
        &__image {
            width: 55%;
            img {
                width: 100%;
            }
        }
        &__information {
            width: 55%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 20px;
            background: rgba($color-base, .8);
            box-sizing: border-box;
            padding: 30px;
            display: flex;
            flex-flow: nowrap column;
            &-item:nth-of-type(3) {
                flex-grow: 1;
            }
        }
    }
    @include breakpoint(pc) {
        min-height: 637px;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 503px;
        }
        .c-inner {
            display: grid;
            margin-top: -67px;
            padding: 0;
            gap: 0 42px;
            grid-template-rows: 20% 25% 25%;
            grid-template-columns: 53% calc(47% - 42px);
            grid-template-areas: 
                "about-image title"
                "about-image description"
                "about-image information";
        }
        .c-section{
            &__title {
                grid-area: title;
                width: 100%;
                margin-top: 43px;
                text-align: left;
            }
            &__description {
                grid-area: description;
                width: 100%;
                text-align: left;
            }
        }
            
        &__image {
            grid-area: about-image;
            width: 100%;
            img {
                width: 100%;
            }
        }
        &__information {
            grid-area: information;
            width: 100%;
            margin-top: 42px;
        }
    }
}