@use "../../foundation/variable" as *;
.p-contact {


    &__content {
        flex: 7 0 58%;
        padding-top: 52px;
        @include text-jp($text--12, 500);
        form {
            background: $color-main-300;
            padding: 52px 54px;
        }
        textarea {
            resize: none;
        }
        input, textarea {
            background: white;
            padding: 4px 8px;
            border-radius: 4px;
        }
        &-row {
            margin-bottom: 16px;
            display: flex;
            flex-flow: nowrap row;
            &> *:first-child{
                flex: 4 0;
            }
            &> *:last-child{
                flex: 6 0;
            }
            &:last-of-type + .c-button {
                width: 61%;
                margin-inline: auto 0;
            }
        }
    }
    @include breakpoint(spandtablet) {
        background-image: url(../img/bg-contact.png);
        background-size: 100% auto;
        background-position: left -200px;
        background-repeat: no-repeat;
        position: relative;
        min-height: 100vh;
        &::before {
            content: "";
            background: linear-gradient(to right, rgba(221,228,222, 1) 0%, rgba(221,228,222, 1) 20%);
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 139px;
            z-index: 2;
        }
        .c-inner {
            display: flex;
            flex-flow: nowrap column;
            min-height: inherit;
            position: relative;
            z-index: 3;
            padding-top: 0.05px;
        }
        &__content{
            margin-bottom: 50px;
        }
    }
    @include breakpoint(pc) {
        background-image: url(../img/bg-contact.png), linear-gradient(to right, rgba(193,210, 217, 1) 0%, rgb(217 231 232) 40%);
        background-size: contain;
        background-position: left bottom;
        background-repeat: no-repeat;
        position: relative;
        min-height: 70vh;
        &::before {
            content: "";
            background: linear-gradient(to right, rgba(221,228,222, .8) 0%, rgba(221,228,222, 1) 20%);
            position: absolute;
            width: 100%;
            height: 100%;
            left: 42%;
            top: 0;
            z-index: 2;
        }
        .c-inner {
            display: flex;
            flex-flow: nowrap row;
            min-height: inherit;
            position: relative;
            z-index: 3;
            padding-top: 0.05px;
        }
        &__title {
            flex: 5 0 42%;
    
            .c-section{
                &__title 
                {
                    margin-top: 52px;
                    text-align: left;
                }
                &__description {
                    text-align: left;
                    text-shadow: 1px 1px 1px white;
    
                }
            }
        }
    }
    @include breakpoint(sp) {
        background-position: left -50px;
        &__content {
            form {
                padding: 16px 24px;
            }
            &-row {
                display: flex;
                flex-flow: nowrap column;
                &:last-of-type + .c-button {
                    width: 100%;
                }
            }
        }
    }
}
